In [ ]:
import pandas as pd
import regex as re
import os
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
from data_preprocessing import *

In [3]:
os.getcwd()

'C:\\Users\\rohit.daniel\\Downloads\\tangerine_data_preprocessing-main\\tangerine_data_preprocessing-main'

In [4]:
os.chdir(r"C://Users//rohit.daniel//Downloads//tangerine_data_preprocessing-main//tangerine_data_preprocessing-main/sample_tangerine_files/")

In [5]:
df = pd.read_csv("sample_tangerine_raw_data.csv", low_memory=False)

In [8]:
literacy_score_cols = [col for col in df.columns if re.search(r'^literacy((?!end|or|p|number|Stop|item|time|duration).)*$', col)]
numeracy_score_cols = [col for col in df.columns if re.search(r'^numeracy((?!end|or|p|number|Stop|item|time|duration).)*$', col)]

In [9]:
df_cleaned = data_cleaning.clean_data(df, literacy_score_cols)

No. of test assessments dropped: 0
No. of incomplete assessments dropped: 0
No. of assessments where children did not give consent dropped: 1
Converted Unix time to datetime format

**************************************************

Cleaning scores in column: literacy1_q1 ...
No. of NaN values in literacy1_q1 cleaned: 0
No. of SKIPPED values in literacy1_q1 cleaned: 0
No. of '.' values in literacy1_q1 cleaned: 0
Scores in literacy1_q1 converted to integer format
Unique values in literacy1_q1 = [88  1  0]

**************************************************

Cleaning scores in column: literacy1_q2 ...
No. of NaN values in literacy1_q2 cleaned: 0
No. of SKIPPED values in literacy1_q2 cleaned: 0
No. of '.' values in literacy1_q2 cleaned: 0
Scores in literacy1_q2 converted to integer format
Unique values in literacy1_q2 = [ 1  0 88]

**************************************************

Cleaning scores in column: literacy1_q3 ...
No. of NaN values in literacy1_q3 cleaned: 0
No. of SKIPPED values in literacy1_q3 cleaned: 0
No. of '.' values in literacy1_q3 cleaned: 0
Scores in literacy1_q3 converted to integer format
Unique values in literacy1_q3 = [88  1  0]

**************************************************

Cleaning scores in column: literacy1_q4 ...
No. of NaN values in literacy1_q4 cleaned: 0
No. of SKIPPED values in literacy1_q4 cleaned: 0
No. of '.' values in literacy1_q4 cleaned: 0
Scores in literacy1_q4 converted to integer format
Unique values in literacy1_q4 = [ 0  1 88]

**************************************************

Cleaning scores in column: literacy2_q1 ...
No. of NaN values in literacy2_q1 cleaned: 0
No. of SKIPPED values in literacy2_q1 cleaned: 0
No. of '.' values in literacy2_q1 cleaned: 0
Scores in literacy2_q1 converted to integer format
Unique values in literacy2_q1 = [ 1  0 88]

**************************************************

Cleaning scores in column: literacy2_q2 ...
No. of NaN values in literacy2_q2 cleaned: 0
No. of SKIPPED values in literacy2_q2 cleaned: 0
No. of '.' values in literacy2_q2 cleaned: 0
Scores in literacy2_q2 converted to integer format
Unique values in literacy2_q2 = [ 1  0 88]

**************************************************

Cleaning scores in column: literacy2_q3 ...
No. of NaN values in literacy2_q3 cleaned: 0
No. of SKIPPED values in literacy2_q3 cleaned: 0
No. of '.' values in literacy2_q3 cleaned: 0
Scores in literacy2_q3 converted to integer format
Unique values in literacy2_q3 = [ 1 88  0]

**************************************************

Cleaning scores in column: literacy2_q4 ...
No. of NaN values in literacy2_q4 cleaned: 0
No. of SKIPPED values in literacy2_q4 cleaned: 0
No. of '.' values in literacy2_q4 cleaned: 0
Scores in literacy2_q4 converted to integer format
Unique values in literacy2_q4 = [ 1  0 88]

**************************************************

Cleaning scores in column: literacy2_q5 ...
No. of NaN values in literacy2_q5 cleaned: 0
No. of SKIPPED values in literacy2_q5 cleaned: 0
No. of '.' values in literacy2_q5 cleaned: 0
Scores in literacy2_q5 converted to integer format
Unique values in literacy2_q5 = [ 1 88  0]

**************************************************

Cleaning scores in column: literacy2_q6 ...
No. of NaN values in literacy2_q6 cleaned: 0
No. of SKIPPED values in literacy2_q6 cleaned: 0
No. of '.' values in literacy2_q6 cleaned: 0
Scores in literacy2_q6 converted to integer format
Unique values in literacy2_q6 = [88  1  0]

**************************************************

Cleaning scores in column: literacy2_q7 ...
No. of NaN values in literacy2_q7 cleaned: 0
No. of SKIPPED values in literacy2_q7 cleaned: 0
No. of '.' values in literacy2_q7 cleaned: 0
Scores in literacy2_q7 converted to integer format
Unique values in literacy2_q7 = [ 1 88  0]

**************************************************

Cleaning scores in column: literacy2_q8 ...
No. of NaN values in literacy2_q8 cleaned: 0
No. of SKIPPED values in literacy2_q8 cleaned: 0
No. of '.' values in literacy2_q8 cleaned: 0
Scores in literacy2_q8 converted to integer format
Unique values in literacy2_q8 = [ 1  0 88]

**************************************************

Cleaning scores in column: literacy2_q9 ...
No. of NaN values in literacy2_q9 cleaned: 0
No. of SKIPPED values in literacy2_q9 cleaned: 0
No. of '.' values in literacy2_q9 cleaned: 0
Scores in literacy2_q9 converted to integer format
Unique values in literacy2_q9 = [ 1 88  0]

**************************************************

Cleaning scores in column: literacy2_q10 ...
No. of NaN values in literacy2_q10 cleaned: 0
No. of SKIPPED values in literacy2_q10 cleaned: 0
No. of '.' values in literacy2_q10 cleaned: 0
Scores in literacy2_q10 converted to integer format
Unique values in literacy2_q10 = [ 1 88  0]

**************************************************

Cleaning scores in column: literacy3_q1 ...
No. of NaN values in literacy3_q1 cleaned: 0
No. of SKIPPED values in literacy3_q1 cleaned: 0
No. of '.' values in literacy3_q1 cleaned: 0
Scores in literacy3_q1 converted to integer format
Unique values in literacy3_q1 = [88  0  1]

**************************************************

Cleaning scores in column: literacy3_q2 ...
No. of NaN values in literacy3_q2 cleaned: 0
No. of SKIPPED values in literacy3_q2 cleaned: 0
No. of '.' values in literacy3_q2 cleaned: 0
Scores in literacy3_q2 converted to integer format
Unique values in literacy3_q2 = [88  0  1]

**************************************************

Cleaning scores in column: literacy3_q3 ...
No. of NaN values in literacy3_q3 cleaned: 0
No. of SKIPPED values in literacy3_q3 cleaned: 0
No. of '.' values in literacy3_q3 cleaned: 0
Scores in literacy3_q3 converted to integer format
Unique values in literacy3_q3 = [88  0  1]

**************************************************

Cleaning scores in column: literacy3_q4 ...
No. of NaN values in literacy3_q4 cleaned: 0
No. of SKIPPED values in literacy3_q4 cleaned: 0
No. of '.' values in literacy3_q4 cleaned: 0
Scores in literacy3_q4 converted to integer format
Unique values in literacy3_q4 = [88  0  1]

**************************************************

Cleaning scores in column: literacy3_q5 ...
No. of NaN values in literacy3_q5 cleaned: 1993
No. of SKIPPED values in literacy3_q5 cleaned: 0
No. of '.' values in literacy3_q5 cleaned: 0
Scores in literacy3_q5 converted to integer format
Unique values in literacy3_q5 = [999  88   0   1]

**************************************************

Cleaning scores in column: literacy3_q6 ...
No. of NaN values in literacy3_q6 cleaned: 2064
No. of SKIPPED values in literacy3_q6 cleaned: 0
No. of '.' values in literacy3_q6 cleaned: 0
Scores in literacy3_q6 converted to integer format
Unique values in literacy3_q6 = [999   1   0  88]

**************************************************

Cleaning scores in column: literacy3_q7 ...
No. of NaN values in literacy3_q7 cleaned: 2115
No. of SKIPPED values in literacy3_q7 cleaned: 0
No. of '.' values in literacy3_q7 cleaned: 0
Scores in literacy3_q7 converted to integer format
Unique values in literacy3_q7 = [999   1   0  88]

**************************************************

Cleaning scores in column: literacy3_q8 ...
No. of NaN values in literacy3_q8 cleaned: 2139
No. of SKIPPED values in literacy3_q8 cleaned: 0
No. of '.' values in literacy3_q8 cleaned: 0
Scores in literacy3_q8 converted to integer format
Unique values in literacy3_q8 = [999   1   0  88]

**************************************************

Cleaning scores in column: literacy3_q9 ...
No. of NaN values in literacy3_q9 cleaned: 2176
No. of SKIPPED values in literacy3_q9 cleaned: 0
No. of '.' values in literacy3_q9 cleaned: 0
Scores in literacy3_q9 converted to integer format
Unique values in literacy3_q9 = [999  88   1   0]

**************************************************

Cleaning scores in column: literacy3_q10 ...
No. of NaN values in literacy3_q10 cleaned: 2186
No. of SKIPPED values in literacy3_q10 cleaned: 0
No. of '.' values in literacy3_q10 cleaned: 0
Scores in literacy3_q10 converted to integer format
Unique values in literacy3_q10 = [999   1   0  88]

**************************************************

Cleaning scores in column: literacy4_ut_grid_1 ...
No. of NaN values in literacy4_ut_grid_1 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_1 cleaned: 0
No. of '.' values in literacy4_ut_grid_1 cleaned: 0
Scores in literacy4_ut_grid_1 converted to integer format
Unique values in literacy4_ut_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_2 ...
No. of NaN values in literacy4_ut_grid_2 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_2 cleaned: 0
No. of '.' values in literacy4_ut_grid_2 cleaned: 0
Scores in literacy4_ut_grid_2 converted to integer format
Unique values in literacy4_ut_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_3 ...
No. of NaN values in literacy4_ut_grid_3 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_3 cleaned: 0
No. of '.' values in literacy4_ut_grid_3 cleaned: 1
Scores in literacy4_ut_grid_3 converted to integer format
Unique values in literacy4_ut_grid_3 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy4_ut_grid_4 ...
No. of NaN values in literacy4_ut_grid_4 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_4 cleaned: 0
No. of '.' values in literacy4_ut_grid_4 cleaned: 2
Scores in literacy4_ut_grid_4 converted to integer format
Unique values in literacy4_ut_grid_4 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy4_ut_grid_5 ...
No. of NaN values in literacy4_ut_grid_5 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_5 cleaned: 0
No. of '.' values in literacy4_ut_grid_5 cleaned: 1132
Scores in literacy4_ut_grid_5 converted to integer format
Unique values in literacy4_ut_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_6 ...
No. of NaN values in literacy4_ut_grid_6 cleaned: 0

No. of SKIPPED values in literacy4_ut_grid_6 cleaned: 0
No. of '.' values in literacy4_ut_grid_6 cleaned: 1132
Scores in literacy4_ut_grid_6 converted to integer format
Unique values in literacy4_ut_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_7 ...
No. of NaN values in literacy4_ut_grid_7 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_7 cleaned: 0
No. of '.' values in literacy4_ut_grid_7 cleaned: 1132
Scores in literacy4_ut_grid_7 converted to integer format
Unique values in literacy4_ut_grid_7 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_8 ...
No. of NaN values in literacy4_ut_grid_8 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_8 cleaned: 0
No. of '.' values in literacy4_ut_grid_8 cleaned: 1132
Scores in literacy4_ut_grid_8 converted to integer format
Unique values in literacy4_ut_grid_8 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_9 ...
No. of NaN values in literacy4_ut_grid_9 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_9 cleaned: 0
No. of '.' values in literacy4_ut_grid_9 cleaned: 1132
Scores in literacy4_ut_grid_9 converted to integer format
Unique values in literacy4_ut_grid_9 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_ut_grid_10 ...
No. of NaN values in literacy4_ut_grid_10 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_10 cleaned: 0
No. of '.' values in literacy4_ut_grid_10 cleaned: 1133
Scores in literacy4_ut_grid_10 converted to integer format
Unique values in literacy4_ut_grid_10 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_11 ...
No. of NaN values in literacy4_ut_grid_11 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_11 cleaned: 0
No. of '.' values in literacy4_ut_grid_11 cleaned: 1133
Scores in literacy4_ut_grid_11 converted to integer format
Unique values in literacy4_ut_grid_11 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_12 ...
No. of NaN values in literacy4_ut_grid_12 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_12 cleaned: 0
No. of '.' values in literacy4_ut_grid_12 cleaned: 1133
Scores in literacy4_ut_grid_12 converted to integer format
Unique values in literacy4_ut_grid_12 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_13 ...
No. of NaN values in literacy4_ut_grid_13 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_13 cleaned: 0
No. of '.' values in literacy4_ut_grid_13 cleaned: 1133
Scores in literacy4_ut_grid_13 converted to integer format
Unique values in literacy4_ut_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_14 ...
No. of NaN values in literacy4_ut_grid_14 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_14 cleaned: 0
No. of '.' values in literacy4_ut_grid_14 cleaned: 1133
Scores in literacy4_ut_grid_14 converted to integer format
Unique values in literacy4_ut_grid_14 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_ut_grid_15 ...
No. of NaN values in literacy4_ut_grid_15 cleaned: 0
No. of SKIPPED values in literacy4_ut_grid_15 cleaned: 0
No. of '.' values in literacy4_ut_grid_15 cleaned: 1133
Scores in literacy4_ut_grid_15 converted to integer format
Unique values in literacy4_ut_grid_15 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_1 ...
No. of NaN values in literacy4_tt_grid_1 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_1 cleaned: 0
No. of '.' values in literacy4_tt_grid_1 cleaned: 0
Scores in literacy4_tt_grid_1 converted to integer format
Unique values in literacy4_tt_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_2 ...
No. of NaN values in literacy4_tt_grid_2 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_2 cleaned: 0
No. of '.' values in literacy4_tt_grid_2 cleaned: 0
Scores in literacy4_tt_grid_2 converted to integer format
Unique values in literacy4_tt_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_3 ...
No. of NaN values in literacy4_tt_grid_3 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_3 cleaned: 0
No. of '.' values in literacy4_tt_grid_3 cleaned: 0
Scores in literacy4_tt_grid_3 converted to integer format
Unique values in literacy4_tt_grid_3 = [0 1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_4 ...
No. of NaN values in literacy4_tt_grid_4 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_4 cleaned: 0
No. of '.' values in literacy4_tt_grid_4 cleaned: 0
Scores in literacy4_tt_grid_4 converted to integer format
Unique values in literacy4_tt_grid_4 = [0 1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_5 ...
No. of NaN values in literacy4_tt_grid_5 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_5 cleaned: 0
No. of '.' values in literacy4_tt_grid_5 cleaned: 727
Scores in literacy4_tt_grid_5 converted to integer format
Unique values in literacy4_tt_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_6 ...
No. of NaN values in literacy4_tt_grid_6 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_6 cleaned: 0
No. of '.' values in literacy4_tt_grid_6 cleaned: 759
Scores in literacy4_tt_grid_6 converted to integer format
Unique values in literacy4_tt_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_7 ...
No. of NaN values in literacy4_tt_grid_7 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_7 cleaned: 0
No. of '.' values in literacy4_tt_grid_7 cleaned: 789
Scores in literacy4_tt_grid_7 converted to integer format
Unique values in literacy4_tt_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_8 ...
No. of NaN values in literacy4_tt_grid_8 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_8 cleaned: 0
No. of '.' values in literacy4_tt_grid_8 cleaned: 801
Scores in literacy4_tt_grid_8 converted to integer format
Unique values in literacy4_tt_grid_8 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_9 ...
No. of NaN values in literacy4_tt_grid_9 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_9 cleaned: 0
No. of '.' values in literacy4_tt_grid_9 cleaned: 820
Scores in literacy4_tt_grid_9 converted to integer format
Unique values in literacy4_tt_grid_9 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_10 ...
No. of NaN values in literacy4_tt_grid_10 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_10 cleaned: 0
No. of '.' values in literacy4_tt_grid_10 cleaned: 912
Scores in literacy4_tt_grid_10 converted to integer format
Unique values in literacy4_tt_grid_10 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_11 ...
No. of NaN values in literacy4_tt_grid_11 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_11 cleaned: 0
No. of '.' values in literacy4_tt_grid_11 cleaned: 936
Scores in literacy4_tt_grid_11 converted to integer format
Unique values in literacy4_tt_grid_11 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_12 ...
No. of NaN values in literacy4_tt_grid_12 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_12 cleaned: 0
No. of '.' values in literacy4_tt_grid_12 cleaned: 972
Scores in literacy4_tt_grid_12 converted to integer format
Unique values in literacy4_tt_grid_12 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_13 ...
No. of NaN values in literacy4_tt_grid_13 cleaned: 0

No. of SKIPPED values in literacy4_tt_grid_13 cleaned: 0
No. of '.' values in literacy4_tt_grid_13 cleaned: 1034
Scores in literacy4_tt_grid_13 converted to integer format
Unique values in literacy4_tt_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_14 ...
No. of NaN values in literacy4_tt_grid_14 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_14 cleaned: 0
No. of '.' values in literacy4_tt_grid_14 cleaned: 1096
Scores in literacy4_tt_grid_14 converted to integer format
Unique values in literacy4_tt_grid_14 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_15 ...
No. of NaN values in literacy4_tt_grid_15 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_15 cleaned: 0
No. of '.' values in literacy4_tt_grid_15 cleaned: 1117
Scores in literacy4_tt_grid_15 converted to integer format
Unique values in literacy4_tt_grid_15 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_16 ...
No. of NaN values in literacy4_tt_grid_16 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_16 cleaned: 0
No. of '.' values in literacy4_tt_grid_16 cleaned: 1173
Scores in literacy4_tt_grid_16 converted to integer format
Unique values in literacy4_tt_grid_16 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_17 ...
No. of NaN values in literacy4_tt_grid_17 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_17 cleaned: 0
No. of '.' values in literacy4_tt_grid_17 cleaned: 1217
Scores in literacy4_tt_grid_17 converted to integer format
Unique values in literacy4_tt_grid_17 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_18 ...
No. of NaN values in literacy4_tt_grid_18 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_18 cleaned: 0
No. of '.' values in literacy4_tt_grid_18 cleaned: 1259
Scores in literacy4_tt_grid_18 converted to integer format
Unique values in literacy4_tt_grid_18 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_19 ...
No. of NaN values in literacy4_tt_grid_19 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_19 cleaned: 0
No. of '.' values in literacy4_tt_grid_19 cleaned: 1303
Scores in literacy4_tt_grid_19 converted to integer format
Unique values in literacy4_tt_grid_19 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_20 ...
No. of NaN values in literacy4_tt_grid_20 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_20 cleaned: 0
No. of '.' values in literacy4_tt_grid_20 cleaned: 1360
Scores in literacy4_tt_grid_20 converted to integer format
Unique values in literacy4_tt_grid_20 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_21 ...
No. of NaN values in literacy4_tt_grid_21 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_21 cleaned: 0
No. of '.' values in literacy4_tt_grid_21 cleaned: 1411
Scores in literacy4_tt_grid_21 converted to integer format
Unique values in literacy4_tt_grid_21 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_22 ...
No. of NaN values in literacy4_tt_grid_22 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_22 cleaned: 0
No. of '.' values in literacy4_tt_grid_22 cleaned: 1476
Scores in literacy4_tt_grid_22 converted to integer format
Unique values in literacy4_tt_grid_22 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_23 ...
No. of NaN values in literacy4_tt_grid_23 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_23 cleaned: 0
No. of '.' values in literacy4_tt_grid_23 cleaned: 1526
Scores in literacy4_tt_grid_23 converted to integer format
Unique values in literacy4_tt_grid_23 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_24 ...
No. of NaN values in literacy4_tt_grid_24 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_24 cleaned: 0
No. of '.' values in literacy4_tt_grid_24 cleaned: 1569
Scores in literacy4_tt_grid_24 converted to integer format
Unique values in literacy4_tt_grid_24 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_25 ...
No. of NaN values in literacy4_tt_grid_25 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_25 cleaned: 0
No. of '.' values in literacy4_tt_grid_25 cleaned: 1631
Scores in literacy4_tt_grid_25 converted to integer format
Unique values in literacy4_tt_grid_25 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_26 ...
No. of NaN values in literacy4_tt_grid_26 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_26 cleaned: 0
No. of '.' values in literacy4_tt_grid_26 cleaned: 1685
Scores in literacy4_tt_grid_26 converted to integer format
Unique values in literacy4_tt_grid_26 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_27 ...
No. of NaN values in literacy4_tt_grid_27 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_27 cleaned: 0
No. of '.' values in literacy4_tt_grid_27 cleaned: 1733
Scores in literacy4_tt_grid_27 converted to integer format
Unique values in literacy4_tt_grid_27 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_28 ...
No. of NaN values in literacy4_tt_grid_28 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_28 cleaned: 0
No. of '.' values in literacy4_tt_grid_28 cleaned: 1786
Scores in literacy4_tt_grid_28 converted to integer format
Unique values in literacy4_tt_grid_28 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_29 ...
No. of NaN values in literacy4_tt_grid_29 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_29 cleaned: 0
No. of '.' values in literacy4_tt_grid_29 cleaned: 1850
Scores in literacy4_tt_grid_29 converted to integer format
Unique values in literacy4_tt_grid_29 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_30 ...
No. of NaN values in literacy4_tt_grid_30 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_30 cleaned: 0
No. of '.' values in literacy4_tt_grid_30 cleaned: 1908
Scores in literacy4_tt_grid_30 converted to integer format
Unique values in literacy4_tt_grid_30 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_31 ...
No. of NaN values in literacy4_tt_grid_31 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_31 cleaned: 0
No. of '.' values in literacy4_tt_grid_31 cleaned: 1950
Scores in literacy4_tt_grid_31 converted to integer format
Unique values in literacy4_tt_grid_31 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_32 ...
No. of NaN values in literacy4_tt_grid_32 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_32 cleaned: 0
No. of '.' values in literacy4_tt_grid_32 cleaned: 1990
Scores in literacy4_tt_grid_32 converted to integer format
Unique values in literacy4_tt_grid_32 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_33 ...
No. of NaN values in literacy4_tt_grid_33 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_33 cleaned: 0
No. of '.' values in literacy4_tt_grid_33 cleaned: 2036
Scores in literacy4_tt_grid_33 converted to integer format
Unique values in literacy4_tt_grid_33 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_34 ...
No. of NaN values in literacy4_tt_grid_34 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_34 cleaned: 0
No. of '.' values in literacy4_tt_grid_34 cleaned: 2091
Scores in literacy4_tt_grid_34 converted to integer format
Unique values in literacy4_tt_grid_34 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_35 ...
No. of NaN values in literacy4_tt_grid_35 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_35 cleaned: 0
No. of '.' values in literacy4_tt_grid_35 cleaned: 2137
Scores in literacy4_tt_grid_35 converted to integer format
Unique values in literacy4_tt_grid_35 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_36 ...
No. of NaN values in literacy4_tt_grid_36 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_36 cleaned: 0
No. of '.' values in literacy4_tt_grid_36 cleaned: 2157
Scores in literacy4_tt_grid_36 converted to integer format
Unique values in literacy4_tt_grid_36 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_37 ...
No. of NaN values in literacy4_tt_grid_37 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_37 cleaned: 0
No. of '.' values in literacy4_tt_grid_37 cleaned: 2189
Scores in literacy4_tt_grid_37 converted to integer format
Unique values in literacy4_tt_grid_37 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_38 ...
No. of NaN values in literacy4_tt_grid_38 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_38 cleaned: 0
No. of '.' values in literacy4_tt_grid_38 cleaned: 2233

Scores in literacy4_tt_grid_38 converted to integer format
Unique values in literacy4_tt_grid_38 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_39 ...
No. of NaN values in literacy4_tt_grid_39 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_39 cleaned: 0
No. of '.' values in literacy4_tt_grid_39 cleaned: 2270
Scores in literacy4_tt_grid_39 converted to integer format
Unique values in literacy4_tt_grid_39 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_40 ...
No. of NaN values in literacy4_tt_grid_40 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_40 cleaned: 0
No. of '.' values in literacy4_tt_grid_40 cleaned: 2298
Scores in literacy4_tt_grid_40 converted to integer format
Unique values in literacy4_tt_grid_40 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_41 ...
No. of NaN values in literacy4_tt_grid_41 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_41 cleaned: 0
No. of '.' values in literacy4_tt_grid_41 cleaned: 2334
Scores in literacy4_tt_grid_41 converted to integer format
Unique values in literacy4_tt_grid_41 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_42 ...
No. of NaN values in literacy4_tt_grid_42 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_42 cleaned: 0
No. of '.' values in literacy4_tt_grid_42 cleaned: 2357
Scores in literacy4_tt_grid_42 converted to integer format
Unique values in literacy4_tt_grid_42 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_43 ...
No. of NaN values in literacy4_tt_grid_43 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_43 cleaned: 0
No. of '.' values in literacy4_tt_grid_43 cleaned: 2380
Scores in literacy4_tt_grid_43 converted to integer format
Unique values in literacy4_tt_grid_43 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_44 ...
No. of NaN values in literacy4_tt_grid_44 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_44 cleaned: 0
No. of '.' values in literacy4_tt_grid_44 cleaned: 2400
Scores in literacy4_tt_grid_44 converted to integer format
Unique values in literacy4_tt_grid_44 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_45 ...
No. of NaN values in literacy4_tt_grid_45 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_45 cleaned: 0
No. of '.' values in literacy4_tt_grid_45 cleaned: 2421
Scores in literacy4_tt_grid_45 converted to integer format
Unique values in literacy4_tt_grid_45 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_46 ...
No. of NaN values in literacy4_tt_grid_46 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_46 cleaned: 0
No. of '.' values in literacy4_tt_grid_46 cleaned: 2436
Scores in literacy4_tt_grid_46 converted to integer format
Unique values in literacy4_tt_grid_46 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_47 ...
No. of NaN values in literacy4_tt_grid_47 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_47 cleaned: 0
No. of '.' values in literacy4_tt_grid_47 cleaned: 2452
Scores in literacy4_tt_grid_47 converted to integer format
Unique values in literacy4_tt_grid_47 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_48 ...
No. of NaN values in literacy4_tt_grid_48 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_48 cleaned: 0
No. of '.' values in literacy4_tt_grid_48 cleaned: 2470
Scores in literacy4_tt_grid_48 converted to integer format
Unique values in literacy4_tt_grid_48 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_49 ...
No. of NaN values in literacy4_tt_grid_49 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_49 cleaned: 0
No. of '.' values in literacy4_tt_grid_49 cleaned: 2482
Scores in literacy4_tt_grid_49 converted to integer format
Unique values in literacy4_tt_grid_49 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_50 ...
No. of NaN values in literacy4_tt_grid_50 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_50 cleaned: 0
No. of '.' values in literacy4_tt_grid_50 cleaned: 2498
Scores in literacy4_tt_grid_50 converted to integer format
Unique values in literacy4_tt_grid_50 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_51 ...
No. of NaN values in literacy4_tt_grid_51 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_51 cleaned: 0
No. of '.' values in literacy4_tt_grid_51 cleaned: 2507
Scores in literacy4_tt_grid_51 converted to integer format
Unique values in literacy4_tt_grid_51 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_52 ...
No. of NaN values in literacy4_tt_grid_52 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_52 cleaned: 0
No. of '.' values in literacy4_tt_grid_52 cleaned: 2523
Scores in literacy4_tt_grid_52 converted to integer format
Unique values in literacy4_tt_grid_52 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_53 ...
No. of NaN values in literacy4_tt_grid_53 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_53 cleaned: 0
No. of '.' values in literacy4_tt_grid_53 cleaned: 2534
Scores in literacy4_tt_grid_53 converted to integer format
Unique values in literacy4_tt_grid_53 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_54 ...
No. of NaN values in literacy4_tt_grid_54 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_54 cleaned: 0
No. of '.' values in literacy4_tt_grid_54 cleaned: 2537
Scores in literacy4_tt_grid_54 converted to integer format
Unique values in literacy4_tt_grid_54 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_55 ...
No. of NaN values in literacy4_tt_grid_55 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_55 cleaned: 0
No. of '.' values in literacy4_tt_grid_55 cleaned: 2545
Scores in literacy4_tt_grid_55 converted to integer format
Unique values in literacy4_tt_grid_55 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_56 ...
No. of NaN values in literacy4_tt_grid_56 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_56 cleaned: 0
No. of '.' values in literacy4_tt_grid_56 cleaned: 2552
Scores in literacy4_tt_grid_56 converted to integer format
Unique values in literacy4_tt_grid_56 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_57 ...
No. of NaN values in literacy4_tt_grid_57 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_57 cleaned: 0
No. of '.' values in literacy4_tt_grid_57 cleaned: 2566
Scores in literacy4_tt_grid_57 converted to integer format
Unique values in literacy4_tt_grid_57 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_58 ...
No. of NaN values in literacy4_tt_grid_58 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_58 cleaned: 0
No. of '.' values in literacy4_tt_grid_58 cleaned: 2571
Scores in literacy4_tt_grid_58 converted to integer format
Unique values in literacy4_tt_grid_58 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_59 ...
No. of NaN values in literacy4_tt_grid_59 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_59 cleaned: 0
No. of '.' values in literacy4_tt_grid_59 cleaned: 2584
Scores in literacy4_tt_grid_59 converted to integer format
Unique values in literacy4_tt_grid_59 = [999   0   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_60 ...
No. of NaN values in literacy4_tt_grid_60 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_60 cleaned: 0
No. of '.' values in literacy4_tt_grid_60 cleaned: 2595
Scores in literacy4_tt_grid_60 converted to integer format
Unique values in literacy4_tt_grid_60 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_61 ...
No. of NaN values in literacy4_tt_grid_61 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_61 cleaned: 0
No. of '.' values in literacy4_tt_grid_61 cleaned: 2604
Scores in literacy4_tt_grid_61 converted to integer format
Unique values in literacy4_tt_grid_61 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_62 ...
No. of NaN values in literacy4_tt_grid_62 cleaned: 0

No. of SKIPPED values in literacy4_tt_grid_62 cleaned: 0
No. of '.' values in literacy4_tt_grid_62 cleaned: 2610
Scores in literacy4_tt_grid_62 converted to integer format
Unique values in literacy4_tt_grid_62 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_63 ...
No. of NaN values in literacy4_tt_grid_63 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_63 cleaned: 0
No. of '.' values in literacy4_tt_grid_63 cleaned: 2616
Scores in literacy4_tt_grid_63 converted to integer format
Unique values in literacy4_tt_grid_63 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_64 ...
No. of NaN values in literacy4_tt_grid_64 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_64 cleaned: 0
No. of '.' values in literacy4_tt_grid_64 cleaned: 2620
Scores in literacy4_tt_grid_64 converted to integer format
Unique values in literacy4_tt_grid_64 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_65 ...
No. of NaN values in literacy4_tt_grid_65 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_65 cleaned: 0
No. of '.' values in literacy4_tt_grid_65 cleaned: 2622
Scores in literacy4_tt_grid_65 converted to integer format
Unique values in literacy4_tt_grid_65 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_66 ...
No. of NaN values in literacy4_tt_grid_66 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_66 cleaned: 0
No. of '.' values in literacy4_tt_grid_66 cleaned: 2622
Scores in literacy4_tt_grid_66 converted to integer format
Unique values in literacy4_tt_grid_66 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_67 ...
No. of NaN values in literacy4_tt_grid_67 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_67 cleaned: 0
No. of '.' values in literacy4_tt_grid_67 cleaned: 2626
Scores in literacy4_tt_grid_67 converted to integer format
Unique values in literacy4_tt_grid_67 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_68 ...
No. of NaN values in literacy4_tt_grid_68 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_68 cleaned: 0
No. of '.' values in literacy4_tt_grid_68 cleaned: 2627
Scores in literacy4_tt_grid_68 converted to integer format
Unique values in literacy4_tt_grid_68 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_69 ...
No. of NaN values in literacy4_tt_grid_69 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_69 cleaned: 0
No. of '.' values in literacy4_tt_grid_69 cleaned: 2630
Scores in literacy4_tt_grid_69 converted to integer format
Unique values in literacy4_tt_grid_69 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_70 ...
No. of NaN values in literacy4_tt_grid_70 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_70 cleaned: 0
No. of '.' values in literacy4_tt_grid_70 cleaned: 2633
Scores in literacy4_tt_grid_70 converted to integer format
Unique values in literacy4_tt_grid_70 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_71 ...
No. of NaN values in literacy4_tt_grid_71 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_71 cleaned: 0
No. of '.' values in literacy4_tt_grid_71 cleaned: 2633
Scores in literacy4_tt_grid_71 converted to integer format
Unique values in literacy4_tt_grid_71 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_72 ...
No. of NaN values in literacy4_tt_grid_72 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_72 cleaned: 0
No. of '.' values in literacy4_tt_grid_72 cleaned: 2634
Scores in literacy4_tt_grid_72 converted to integer format
Unique values in literacy4_tt_grid_72 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_73 ...
No. of NaN values in literacy4_tt_grid_73 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_73 cleaned: 0
No. of '.' values in literacy4_tt_grid_73 cleaned: 2634
Scores in literacy4_tt_grid_73 converted to integer format
Unique values in literacy4_tt_grid_73 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_74 ...
No. of NaN values in literacy4_tt_grid_74 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_74 cleaned: 0
No. of '.' values in literacy4_tt_grid_74 cleaned: 2637
Scores in literacy4_tt_grid_74 converted to integer format
Unique values in literacy4_tt_grid_74 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_75 ...
No. of NaN values in literacy4_tt_grid_75 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_75 cleaned: 0
No. of '.' values in literacy4_tt_grid_75 cleaned: 2637
Scores in literacy4_tt_grid_75 converted to integer format
Unique values in literacy4_tt_grid_75 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_76 ...
No. of NaN values in literacy4_tt_grid_76 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_76 cleaned: 0
No. of '.' values in literacy4_tt_grid_76 cleaned: 2637
Scores in literacy4_tt_grid_76 converted to integer format
Unique values in literacy4_tt_grid_76 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_77 ...
No. of NaN values in literacy4_tt_grid_77 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_77 cleaned: 0
No. of '.' values in literacy4_tt_grid_77 cleaned: 2637
Scores in literacy4_tt_grid_77 converted to integer format
Unique values in literacy4_tt_grid_77 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_78 ...
No. of NaN values in literacy4_tt_grid_78 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_78 cleaned: 0
No. of '.' values in literacy4_tt_grid_78 cleaned: 2637
Scores in literacy4_tt_grid_78 converted to integer format
Unique values in literacy4_tt_grid_78 = [999   1]

**************************************************

Cleaning scores in column: literacy4_tt_grid_79 ...
No. of NaN values in literacy4_tt_grid_79 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_79 cleaned: 0
No. of '.' values in literacy4_tt_grid_79 cleaned: 2637
Scores in literacy4_tt_grid_79 converted to integer format
Unique values in literacy4_tt_grid_79 = [999   1   0]

**************************************************

Cleaning scores in column: literacy4_tt_grid_80 ...
No. of NaN values in literacy4_tt_grid_80 cleaned: 0
No. of SKIPPED values in literacy4_tt_grid_80 cleaned: 0
No. of '.' values in literacy4_tt_grid_80 cleaned: 2638
Scores in literacy4_tt_grid_80 converted to integer format
Unique values in literacy4_tt_grid_80 = [999   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_1 ...
No. of NaN values in literacy5_ut_grid_1 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_1 cleaned: 0
No. of '.' values in literacy5_ut_grid_1 cleaned: 0
Scores in literacy5_ut_grid_1 converted to integer format
Unique values in literacy5_ut_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_2 ...
No. of NaN values in literacy5_ut_grid_2 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_2 cleaned: 0
No. of '.' values in literacy5_ut_grid_2 cleaned: 0
Scores in literacy5_ut_grid_2 converted to integer format
Unique values in literacy5_ut_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_3 ...
No. of NaN values in literacy5_ut_grid_3 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_3 cleaned: 0
No. of '.' values in literacy5_ut_grid_3 cleaned: 0
Scores in literacy5_ut_grid_3 converted to integer format
Unique values in literacy5_ut_grid_3 = [0 1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_4 ...
No. of NaN values in literacy5_ut_grid_4 cleaned: 0

No. of SKIPPED values in literacy5_ut_grid_4 cleaned: 0
No. of '.' values in literacy5_ut_grid_4 cleaned: 1
Scores in literacy5_ut_grid_4 converted to integer format
Unique values in literacy5_ut_grid_4 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy5_ut_grid_5 ...
No. of NaN values in literacy5_ut_grid_5 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_5 cleaned: 0
No. of '.' values in literacy5_ut_grid_5 cleaned: 1578
Scores in literacy5_ut_grid_5 converted to integer format
Unique values in literacy5_ut_grid_5 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_6 ...
No. of NaN values in literacy5_ut_grid_6 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_6 cleaned: 0
No. of '.' values in literacy5_ut_grid_6 cleaned: 1579
Scores in literacy5_ut_grid_6 converted to integer format
Unique values in literacy5_ut_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_7 ...
No. of NaN values in literacy5_ut_grid_7 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_7 cleaned: 0
No. of '.' values in literacy5_ut_grid_7 cleaned: 1580
Scores in literacy5_ut_grid_7 converted to integer format
Unique values in literacy5_ut_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_ut_grid_8 ...
No. of NaN values in literacy5_ut_grid_8 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_8 cleaned: 0
No. of '.' values in literacy5_ut_grid_8 cleaned: 1580
Scores in literacy5_ut_grid_8 converted to integer format
Unique values in literacy5_ut_grid_8 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_ut_grid_9 ...
No. of NaN values in literacy5_ut_grid_9 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_9 cleaned: 0
No. of '.' values in literacy5_ut_grid_9 cleaned: 1580
Scores in literacy5_ut_grid_9 converted to integer format
Unique values in literacy5_ut_grid_9 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_10 ...
No. of NaN values in literacy5_ut_grid_10 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_10 cleaned: 0
No. of '.' values in literacy5_ut_grid_10 cleaned: 1580
Scores in literacy5_ut_grid_10 converted to integer format
Unique values in literacy5_ut_grid_10 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_11 ...
No. of NaN values in literacy5_ut_grid_11 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_11 cleaned: 0
No. of '.' values in literacy5_ut_grid_11 cleaned: 1580
Scores in literacy5_ut_grid_11 converted to integer format
Unique values in literacy5_ut_grid_11 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_ut_grid_12 ...
No. of NaN values in literacy5_ut_grid_12 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_12 cleaned: 0
No. of '.' values in literacy5_ut_grid_12 cleaned: 1580
Scores in literacy5_ut_grid_12 converted to integer format
Unique values in literacy5_ut_grid_12 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_13 ...
No. of NaN values in literacy5_ut_grid_13 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_13 cleaned: 0
No. of '.' values in literacy5_ut_grid_13 cleaned: 1580
Scores in literacy5_ut_grid_13 converted to integer format
Unique values in literacy5_ut_grid_13 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_14 ...
No. of NaN values in literacy5_ut_grid_14 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_14 cleaned: 0
No. of '.' values in literacy5_ut_grid_14 cleaned: 1580
Scores in literacy5_ut_grid_14 converted to integer format
Unique values in literacy5_ut_grid_14 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_ut_grid_15 ...
No. of NaN values in literacy5_ut_grid_15 cleaned: 0
No. of SKIPPED values in literacy5_ut_grid_15 cleaned: 0
No. of '.' values in literacy5_ut_grid_15 cleaned: 1580
Scores in literacy5_ut_grid_15 converted to integer format
Unique values in literacy5_ut_grid_15 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_1 ...
No. of NaN values in literacy5_tt_grid_1 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_1 cleaned: 0
No. of '.' values in literacy5_tt_grid_1 cleaned: 0
Scores in literacy5_tt_grid_1 converted to integer format
Unique values in literacy5_tt_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_2 ...
No. of NaN values in literacy5_tt_grid_2 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_2 cleaned: 0
No. of '.' values in literacy5_tt_grid_2 cleaned: 0
Scores in literacy5_tt_grid_2 converted to integer format
Unique values in literacy5_tt_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_3 ...
No. of NaN values in literacy5_tt_grid_3 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_3 cleaned: 0
No. of '.' values in literacy5_tt_grid_3 cleaned: 0
Scores in literacy5_tt_grid_3 converted to integer format
Unique values in literacy5_tt_grid_3 = [0 1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_4 ...
No. of NaN values in literacy5_tt_grid_4 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_4 cleaned: 0
No. of '.' values in literacy5_tt_grid_4 cleaned: 1
Scores in literacy5_tt_grid_4 converted to integer format
Unique values in literacy5_tt_grid_4 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy5_tt_grid_5 ...
No. of NaN values in literacy5_tt_grid_5 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_5 cleaned: 0
No. of '.' values in literacy5_tt_grid_5 cleaned: 1507
Scores in literacy5_tt_grid_5 converted to integer format
Unique values in literacy5_tt_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_6 ...
No. of NaN values in literacy5_tt_grid_6 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_6 cleaned: 0
No. of '.' values in literacy5_tt_grid_6 cleaned: 1569
Scores in literacy5_tt_grid_6 converted to integer format
Unique values in literacy5_tt_grid_6 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_7 ...
No. of NaN values in literacy5_tt_grid_7 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_7 cleaned: 0
No. of '.' values in literacy5_tt_grid_7 cleaned: 1589
Scores in literacy5_tt_grid_7 converted to integer format
Unique values in literacy5_tt_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_8 ...
No. of NaN values in literacy5_tt_grid_8 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_8 cleaned: 0
No. of '.' values in literacy5_tt_grid_8 cleaned: 1655
Scores in literacy5_tt_grid_8 converted to integer format
Unique values in literacy5_tt_grid_8 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_9 ...
No. of NaN values in literacy5_tt_grid_9 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_9 cleaned: 0
No. of '.' values in literacy5_tt_grid_9 cleaned: 1681
Scores in literacy5_tt_grid_9 converted to integer format
Unique values in literacy5_tt_grid_9 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_10 ...
No. of NaN values in literacy5_tt_grid_10 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_10 cleaned: 0
No. of '.' values in literacy5_tt_grid_10 cleaned: 1723
Scores in literacy5_tt_grid_10 converted to integer format
Unique values in literacy5_tt_grid_10 = [999   0   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_11 ...
No. of NaN values in literacy5_tt_grid_11 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_11 cleaned: 0
No. of '.' values in literacy5_tt_grid_11 cleaned: 1766
Scores in literacy5_tt_grid_11 converted to integer format
Unique values in literacy5_tt_grid_11 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_12 ...
No. of NaN values in literacy5_tt_grid_12 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_12 cleaned: 0
No. of '.' values in literacy5_tt_grid_12 cleaned: 1799
Scores in literacy5_tt_grid_12 converted to integer format
Unique values in literacy5_tt_grid_12 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_13 ...
No. of NaN values in literacy5_tt_grid_13 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_13 cleaned: 0
No. of '.' values in literacy5_tt_grid_13 cleaned: 1837

Scores in literacy5_tt_grid_13 converted to integer format
Unique values in literacy5_tt_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_14 ...
No. of NaN values in literacy5_tt_grid_14 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_14 cleaned: 0
No. of '.' values in literacy5_tt_grid_14 cleaned: 1890
Scores in literacy5_tt_grid_14 converted to integer format
Unique values in literacy5_tt_grid_14 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_15 ...
No. of NaN values in literacy5_tt_grid_15 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_15 cleaned: 0
No. of '.' values in literacy5_tt_grid_15 cleaned: 1935
Scores in literacy5_tt_grid_15 converted to integer format
Unique values in literacy5_tt_grid_15 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_16 ...
No. of NaN values in literacy5_tt_grid_16 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_16 cleaned: 0
No. of '.' values in literacy5_tt_grid_16 cleaned: 2011
Scores in literacy5_tt_grid_16 converted to integer format
Unique values in literacy5_tt_grid_16 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_17 ...
No. of NaN values in literacy5_tt_grid_17 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_17 cleaned: 0
No. of '.' values in literacy5_tt_grid_17 cleaned: 2087
Scores in literacy5_tt_grid_17 converted to integer format
Unique values in literacy5_tt_grid_17 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_18 ...
No. of NaN values in literacy5_tt_grid_18 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_18 cleaned: 0
No. of '.' values in literacy5_tt_grid_18 cleaned: 2140
Scores in literacy5_tt_grid_18 converted to integer format
Unique values in literacy5_tt_grid_18 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_19 ...
No. of NaN values in literacy5_tt_grid_19 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_19 cleaned: 0
No. of '.' values in literacy5_tt_grid_19 cleaned: 2199
Scores in literacy5_tt_grid_19 converted to integer format
Unique values in literacy5_tt_grid_19 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_20 ...
No. of NaN values in literacy5_tt_grid_20 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_20 cleaned: 0
No. of '.' values in literacy5_tt_grid_20 cleaned: 2324
Scores in literacy5_tt_grid_20 converted to integer format
Unique values in literacy5_tt_grid_20 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_21 ...
No. of NaN values in literacy5_tt_grid_21 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_21 cleaned: 0
No. of '.' values in literacy5_tt_grid_21 cleaned: 2387
Scores in literacy5_tt_grid_21 converted to integer format
Unique values in literacy5_tt_grid_21 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_22 ...
No. of NaN values in literacy5_tt_grid_22 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_22 cleaned: 0
No. of '.' values in literacy5_tt_grid_22 cleaned: 2414
Scores in literacy5_tt_grid_22 converted to integer format
Unique values in literacy5_tt_grid_22 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_23 ...
No. of NaN values in literacy5_tt_grid_23 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_23 cleaned: 0
No. of '.' values in literacy5_tt_grid_23 cleaned: 2444
Scores in literacy5_tt_grid_23 converted to integer format
Unique values in literacy5_tt_grid_23 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_24 ...
No. of NaN values in literacy5_tt_grid_24 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_24 cleaned: 0
No. of '.' values in literacy5_tt_grid_24 cleaned: 2476
Scores in literacy5_tt_grid_24 converted to integer format
Unique values in literacy5_tt_grid_24 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_25 ...
No. of NaN values in literacy5_tt_grid_25 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_25 cleaned: 0
No. of '.' values in literacy5_tt_grid_25 cleaned: 2505
Scores in literacy5_tt_grid_25 converted to integer format
Unique values in literacy5_tt_grid_25 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_26 ...
No. of NaN values in literacy5_tt_grid_26 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_26 cleaned: 0
No. of '.' values in literacy5_tt_grid_26 cleaned: 2525
Scores in literacy5_tt_grid_26 converted to integer format
Unique values in literacy5_tt_grid_26 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_27 ...
No. of NaN values in literacy5_tt_grid_27 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_27 cleaned: 0
No. of '.' values in literacy5_tt_grid_27 cleaned: 2538
Scores in literacy5_tt_grid_27 converted to integer format
Unique values in literacy5_tt_grid_27 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_28 ...
No. of NaN values in literacy5_tt_grid_28 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_28 cleaned: 0
No. of '.' values in literacy5_tt_grid_28 cleaned: 2547
Scores in literacy5_tt_grid_28 converted to integer format
Unique values in literacy5_tt_grid_28 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_29 ...
No. of NaN values in literacy5_tt_grid_29 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_29 cleaned: 0
No. of '.' values in literacy5_tt_grid_29 cleaned: 2564
Scores in literacy5_tt_grid_29 converted to integer format
Unique values in literacy5_tt_grid_29 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_30 ...
No. of NaN values in literacy5_tt_grid_30 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_30 cleaned: 0
No. of '.' values in literacy5_tt_grid_30 cleaned: 2572
Scores in literacy5_tt_grid_30 converted to integer format
Unique values in literacy5_tt_grid_30 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_31 ...
No. of NaN values in literacy5_tt_grid_31 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_31 cleaned: 0
No. of '.' values in literacy5_tt_grid_31 cleaned: 2577
Scores in literacy5_tt_grid_31 converted to integer format
Unique values in literacy5_tt_grid_31 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_32 ...
No. of NaN values in literacy5_tt_grid_32 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_32 cleaned: 0
No. of '.' values in literacy5_tt_grid_32 cleaned: 2583
Scores in literacy5_tt_grid_32 converted to integer format
Unique values in literacy5_tt_grid_32 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_33 ...
No. of NaN values in literacy5_tt_grid_33 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_33 cleaned: 0
No. of '.' values in literacy5_tt_grid_33 cleaned: 2586
Scores in literacy5_tt_grid_33 converted to integer format
Unique values in literacy5_tt_grid_33 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_34 ...
No. of NaN values in literacy5_tt_grid_34 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_34 cleaned: 0
No. of '.' values in literacy5_tt_grid_34 cleaned: 2588
Scores in literacy5_tt_grid_34 converted to integer format
Unique values in literacy5_tt_grid_34 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_35 ...
No. of NaN values in literacy5_tt_grid_35 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_35 cleaned: 0
No. of '.' values in literacy5_tt_grid_35 cleaned: 2594
Scores in literacy5_tt_grid_35 converted to integer format
Unique values in literacy5_tt_grid_35 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_36 ...
No. of NaN values in literacy5_tt_grid_36 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_36 cleaned: 0
No. of '.' values in literacy5_tt_grid_36 cleaned: 2598
Scores in literacy5_tt_grid_36 converted to integer format
Unique values in literacy5_tt_grid_36 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_37 ...
No. of NaN values in literacy5_tt_grid_37 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_37 cleaned: 0
No. of '.' values in literacy5_tt_grid_37 cleaned: 2606

Scores in literacy5_tt_grid_37 converted to integer format
Unique values in literacy5_tt_grid_37 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_38 ...
No. of NaN values in literacy5_tt_grid_38 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_38 cleaned: 0
No. of '.' values in literacy5_tt_grid_38 cleaned: 2610
Scores in literacy5_tt_grid_38 converted to integer format
Unique values in literacy5_tt_grid_38 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_39 ...
No. of NaN values in literacy5_tt_grid_39 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_39 cleaned: 0
No. of '.' values in literacy5_tt_grid_39 cleaned: 2613
Scores in literacy5_tt_grid_39 converted to integer format
Unique values in literacy5_tt_grid_39 = [999   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_40 ...
No. of NaN values in literacy5_tt_grid_40 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_40 cleaned: 0
No. of '.' values in literacy5_tt_grid_40 cleaned: 2613
Scores in literacy5_tt_grid_40 converted to integer format
Unique values in literacy5_tt_grid_40 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_41 ...
No. of NaN values in literacy5_tt_grid_41 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_41 cleaned: 0
No. of '.' values in literacy5_tt_grid_41 cleaned: 2619
Scores in literacy5_tt_grid_41 converted to integer format
Unique values in literacy5_tt_grid_41 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_42 ...
No. of NaN values in literacy5_tt_grid_42 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_42 cleaned: 0
No. of '.' values in literacy5_tt_grid_42 cleaned: 2619
Scores in literacy5_tt_grid_42 converted to integer format
Unique values in literacy5_tt_grid_42 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_43 ...
No. of NaN values in literacy5_tt_grid_43 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_43 cleaned: 0
No. of '.' values in literacy5_tt_grid_43 cleaned: 2619
Scores in literacy5_tt_grid_43 converted to integer format
Unique values in literacy5_tt_grid_43 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_44 ...
No. of NaN values in literacy5_tt_grid_44 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_44 cleaned: 0
No. of '.' values in literacy5_tt_grid_44 cleaned: 2621
Scores in literacy5_tt_grid_44 converted to integer format
Unique values in literacy5_tt_grid_44 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_45 ...
No. of NaN values in literacy5_tt_grid_45 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_45 cleaned: 0
No. of '.' values in literacy5_tt_grid_45 cleaned: 2622
Scores in literacy5_tt_grid_45 converted to integer format
Unique values in literacy5_tt_grid_45 = [999   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_46 ...
No. of NaN values in literacy5_tt_grid_46 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_46 cleaned: 0
No. of '.' values in literacy5_tt_grid_46 cleaned: 2626
Scores in literacy5_tt_grid_46 converted to integer format
Unique values in literacy5_tt_grid_46 = [999   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_47 ...
No. of NaN values in literacy5_tt_grid_47 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_47 cleaned: 0
No. of '.' values in literacy5_tt_grid_47 cleaned: 2626
Scores in literacy5_tt_grid_47 converted to integer format
Unique values in literacy5_tt_grid_47 = [999   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_48 ...
No. of NaN values in literacy5_tt_grid_48 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_48 cleaned: 0
No. of '.' values in literacy5_tt_grid_48 cleaned: 2628
Scores in literacy5_tt_grid_48 converted to integer format
Unique values in literacy5_tt_grid_48 = [999   1]

**************************************************

Cleaning scores in column: literacy5_tt_grid_49 ...
No. of NaN values in literacy5_tt_grid_49 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_49 cleaned: 0
No. of '.' values in literacy5_tt_grid_49 cleaned: 2630
Scores in literacy5_tt_grid_49 converted to integer format
Unique values in literacy5_tt_grid_49 = [999   1   0]

**************************************************

Cleaning scores in column: literacy5_tt_grid_50 ...
No. of NaN values in literacy5_tt_grid_50 cleaned: 0
No. of SKIPPED values in literacy5_tt_grid_50 cleaned: 0
No. of '.' values in literacy5_tt_grid_50 cleaned: 2632
Scores in literacy5_tt_grid_50 converted to integer format
Unique values in literacy5_tt_grid_50 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_1 ...
No. of NaN values in literacy6_tt_grid_1 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_1 cleaned: 0
No. of '.' values in literacy6_tt_grid_1 cleaned: 0
Scores in literacy6_tt_grid_1 converted to integer format
Unique values in literacy6_tt_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_2 ...
No. of NaN values in literacy6_tt_grid_2 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_2 cleaned: 0
No. of '.' values in literacy6_tt_grid_2 cleaned: 0
Scores in literacy6_tt_grid_2 converted to integer format
Unique values in literacy6_tt_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_3 ...
No. of NaN values in literacy6_tt_grid_3 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_3 cleaned: 0
No. of '.' values in literacy6_tt_grid_3 cleaned: 0
Scores in literacy6_tt_grid_3 converted to integer format
Unique values in literacy6_tt_grid_3 = [0 1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_4 ...
No. of NaN values in literacy6_tt_grid_4 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_4 cleaned: 0
No. of '.' values in literacy6_tt_grid_4 cleaned: 0
Scores in literacy6_tt_grid_4 converted to integer format
Unique values in literacy6_tt_grid_4 = [0 1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_5 ...
No. of NaN values in literacy6_tt_grid_5 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_5 cleaned: 0
No. of '.' values in literacy6_tt_grid_5 cleaned: 1716
Scores in literacy6_tt_grid_5 converted to integer format
Unique values in literacy6_tt_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_6 ...
No. of NaN values in literacy6_tt_grid_6 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_6 cleaned: 0
No. of '.' values in literacy6_tt_grid_6 cleaned: 1718
Scores in literacy6_tt_grid_6 converted to integer format
Unique values in literacy6_tt_grid_6 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_7 ...
No. of NaN values in literacy6_tt_grid_7 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_7 cleaned: 0
No. of '.' values in literacy6_tt_grid_7 cleaned: 1766
Scores in literacy6_tt_grid_7 converted to integer format
Unique values in literacy6_tt_grid_7 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_8 ...
No. of NaN values in literacy6_tt_grid_8 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_8 cleaned: 0
No. of '.' values in literacy6_tt_grid_8 cleaned: 1787
Scores in literacy6_tt_grid_8 converted to integer format
Unique values in literacy6_tt_grid_8 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_9 ...
No. of NaN values in literacy6_tt_grid_9 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_9 cleaned: 0
No. of '.' values in literacy6_tt_grid_9 cleaned: 1873
Scores in literacy6_tt_grid_9 converted to integer format
Unique values in literacy6_tt_grid_9 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_10 ...
No. of NaN values in literacy6_tt_grid_10 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_10 cleaned: 0
No. of '.' values in literacy6_tt_grid_10 cleaned: 2184
Scores in literacy6_tt_grid_10 converted to integer format
Unique values in literacy6_tt_grid_10 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_11 ...
No. of NaN values in literacy6_tt_grid_11 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_11 cleaned: 0
No. of '.' values in literacy6_tt_grid_11 cleaned: 2214
Scores in literacy6_tt_grid_11 converted to integer format
Unique values in literacy6_tt_grid_11 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_12 ...
No. of NaN values in literacy6_tt_grid_12 cleaned: 0

No. of SKIPPED values in literacy6_tt_grid_12 cleaned: 0
No. of '.' values in literacy6_tt_grid_12 cleaned: 2222
Scores in literacy6_tt_grid_12 converted to integer format
Unique values in literacy6_tt_grid_12 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_13 ...
No. of NaN values in literacy6_tt_grid_13 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_13 cleaned: 0
No. of '.' values in literacy6_tt_grid_13 cleaned: 2237
Scores in literacy6_tt_grid_13 converted to integer format
Unique values in literacy6_tt_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_14 ...
No. of NaN values in literacy6_tt_grid_14 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_14 cleaned: 0
No. of '.' values in literacy6_tt_grid_14 cleaned: 2266
Scores in literacy6_tt_grid_14 converted to integer format
Unique values in literacy6_tt_grid_14 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_15 ...
No. of NaN values in literacy6_tt_grid_15 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_15 cleaned: 0
No. of '.' values in literacy6_tt_grid_15 cleaned: 2298
Scores in literacy6_tt_grid_15 converted to integer format
Unique values in literacy6_tt_grid_15 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_16 ...
No. of NaN values in literacy6_tt_grid_16 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_16 cleaned: 0
No. of '.' values in literacy6_tt_grid_16 cleaned: 2338
Scores in literacy6_tt_grid_16 converted to integer format
Unique values in literacy6_tt_grid_16 = [999   0   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_17 ...
No. of NaN values in literacy6_tt_grid_17 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_17 cleaned: 0
No. of '.' values in literacy6_tt_grid_17 cleaned: 2373
Scores in literacy6_tt_grid_17 converted to integer format
Unique values in literacy6_tt_grid_17 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_18 ...
No. of NaN values in literacy6_tt_grid_18 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_18 cleaned: 0
No. of '.' values in literacy6_tt_grid_18 cleaned: 2407
Scores in literacy6_tt_grid_18 converted to integer format
Unique values in literacy6_tt_grid_18 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_19 ...
No. of NaN values in literacy6_tt_grid_19 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_19 cleaned: 0
No. of '.' values in literacy6_tt_grid_19 cleaned: 2435
Scores in literacy6_tt_grid_19 converted to integer format
Unique values in literacy6_tt_grid_19 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_20 ...
No. of NaN values in literacy6_tt_grid_20 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_20 cleaned: 0
No. of '.' values in literacy6_tt_grid_20 cleaned: 2466
Scores in literacy6_tt_grid_20 converted to integer format
Unique values in literacy6_tt_grid_20 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_21 ...
No. of NaN values in literacy6_tt_grid_21 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_21 cleaned: 0
No. of '.' values in literacy6_tt_grid_21 cleaned: 2482
Scores in literacy6_tt_grid_21 converted to integer format
Unique values in literacy6_tt_grid_21 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_22 ...
No. of NaN values in literacy6_tt_grid_22 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_22 cleaned: 0
No. of '.' values in literacy6_tt_grid_22 cleaned: 2503
Scores in literacy6_tt_grid_22 converted to integer format
Unique values in literacy6_tt_grid_22 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_23 ...
No. of NaN values in literacy6_tt_grid_23 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_23 cleaned: 0
No. of '.' values in literacy6_tt_grid_23 cleaned: 2520
Scores in literacy6_tt_grid_23 converted to integer format
Unique values in literacy6_tt_grid_23 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_24 ...
No. of NaN values in literacy6_tt_grid_24 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_24 cleaned: 0
No. of '.' values in literacy6_tt_grid_24 cleaned: 2538
Scores in literacy6_tt_grid_24 converted to integer format
Unique values in literacy6_tt_grid_24 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_25 ...
No. of NaN values in literacy6_tt_grid_25 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_25 cleaned: 0
No. of '.' values in literacy6_tt_grid_25 cleaned: 2564
Scores in literacy6_tt_grid_25 converted to integer format
Unique values in literacy6_tt_grid_25 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_26 ...
No. of NaN values in literacy6_tt_grid_26 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_26 cleaned: 0
No. of '.' values in literacy6_tt_grid_26 cleaned: 2572
Scores in literacy6_tt_grid_26 converted to integer format
Unique values in literacy6_tt_grid_26 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_27 ...
No. of NaN values in literacy6_tt_grid_27 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_27 cleaned: 0
No. of '.' values in literacy6_tt_grid_27 cleaned: 2580
Scores in literacy6_tt_grid_27 converted to integer format
Unique values in literacy6_tt_grid_27 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_28 ...
No. of NaN values in literacy6_tt_grid_28 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_28 cleaned: 0
No. of '.' values in literacy6_tt_grid_28 cleaned: 2585
Scores in literacy6_tt_grid_28 converted to integer format
Unique values in literacy6_tt_grid_28 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_29 ...
No. of NaN values in literacy6_tt_grid_29 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_29 cleaned: 0
No. of '.' values in literacy6_tt_grid_29 cleaned: 2594
Scores in literacy6_tt_grid_29 converted to integer format
Unique values in literacy6_tt_grid_29 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_30 ...
No. of NaN values in literacy6_tt_grid_30 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_30 cleaned: 0
No. of '.' values in literacy6_tt_grid_30 cleaned: 2599
Scores in literacy6_tt_grid_30 converted to integer format
Unique values in literacy6_tt_grid_30 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_31 ...
No. of NaN values in literacy6_tt_grid_31 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_31 cleaned: 0
No. of '.' values in literacy6_tt_grid_31 cleaned: 2607
Scores in literacy6_tt_grid_31 converted to integer format
Unique values in literacy6_tt_grid_31 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_32 ...
No. of NaN values in literacy6_tt_grid_32 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_32 cleaned: 0
No. of '.' values in literacy6_tt_grid_32 cleaned: 2613
Scores in literacy6_tt_grid_32 converted to integer format
Unique values in literacy6_tt_grid_32 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_33 ...
No. of NaN values in literacy6_tt_grid_33 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_33 cleaned: 0
No. of '.' values in literacy6_tt_grid_33 cleaned: 2617
Scores in literacy6_tt_grid_33 converted to integer format
Unique values in literacy6_tt_grid_33 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_34 ...
No. of NaN values in literacy6_tt_grid_34 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_34 cleaned: 0
No. of '.' values in literacy6_tt_grid_34 cleaned: 2619
Scores in literacy6_tt_grid_34 converted to integer format
Unique values in literacy6_tt_grid_34 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_35 ...
No. of NaN values in literacy6_tt_grid_35 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_35 cleaned: 0
No. of '.' values in literacy6_tt_grid_35 cleaned: 2621
Scores in literacy6_tt_grid_35 converted to integer format
Unique values in literacy6_tt_grid_35 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_36 ...
No. of NaN values in literacy6_tt_grid_36 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_36 cleaned: 0
No. of '.' values in literacy6_tt_grid_36 cleaned: 2622

Scores in literacy6_tt_grid_36 converted to integer format
Unique values in literacy6_tt_grid_36 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_37 ...
No. of NaN values in literacy6_tt_grid_37 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_37 cleaned: 0
No. of '.' values in literacy6_tt_grid_37 cleaned: 2623
Scores in literacy6_tt_grid_37 converted to integer format
Unique values in literacy6_tt_grid_37 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_38 ...
No. of NaN values in literacy6_tt_grid_38 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_38 cleaned: 0
No. of '.' values in literacy6_tt_grid_38 cleaned: 2623
Scores in literacy6_tt_grid_38 converted to integer format
Unique values in literacy6_tt_grid_38 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_39 ...
No. of NaN values in literacy6_tt_grid_39 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_39 cleaned: 0
No. of '.' values in literacy6_tt_grid_39 cleaned: 2624
Scores in literacy6_tt_grid_39 converted to integer format
Unique values in literacy6_tt_grid_39 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_40 ...
No. of NaN values in literacy6_tt_grid_40 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_40 cleaned: 0
No. of '.' values in literacy6_tt_grid_40 cleaned: 2625
Scores in literacy6_tt_grid_40 converted to integer format
Unique values in literacy6_tt_grid_40 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_41 ...
No. of NaN values in literacy6_tt_grid_41 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_41 cleaned: 0
No. of '.' values in literacy6_tt_grid_41 cleaned: 2628
Scores in literacy6_tt_grid_41 converted to integer format
Unique values in literacy6_tt_grid_41 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_42 ...
No. of NaN values in literacy6_tt_grid_42 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_42 cleaned: 0
No. of '.' values in literacy6_tt_grid_42 cleaned: 2631
Scores in literacy6_tt_grid_42 converted to integer format
Unique values in literacy6_tt_grid_42 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_43 ...
No. of NaN values in literacy6_tt_grid_43 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_43 cleaned: 0
No. of '.' values in literacy6_tt_grid_43 cleaned: 2631
Scores in literacy6_tt_grid_43 converted to integer format
Unique values in literacy6_tt_grid_43 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_44 ...
No. of NaN values in literacy6_tt_grid_44 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_44 cleaned: 0
No. of '.' values in literacy6_tt_grid_44 cleaned: 2633
Scores in literacy6_tt_grid_44 converted to integer format
Unique values in literacy6_tt_grid_44 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_45 ...
No. of NaN values in literacy6_tt_grid_45 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_45 cleaned: 0
No. of '.' values in literacy6_tt_grid_45 cleaned: 2635
Scores in literacy6_tt_grid_45 converted to integer format
Unique values in literacy6_tt_grid_45 = [999   1   0]

**************************************************

Cleaning scores in column: literacy6_tt_grid_46 ...
No. of NaN values in literacy6_tt_grid_46 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_46 cleaned: 0
No. of '.' values in literacy6_tt_grid_46 cleaned: 2638
Scores in literacy6_tt_grid_46 converted to integer format
Unique values in literacy6_tt_grid_46 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_47 ...
No. of NaN values in literacy6_tt_grid_47 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_47 cleaned: 0
No. of '.' values in literacy6_tt_grid_47 cleaned: 2639
Scores in literacy6_tt_grid_47 converted to integer format
Unique values in literacy6_tt_grid_47 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_48 ...
No. of NaN values in literacy6_tt_grid_48 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_48 cleaned: 0
No. of '.' values in literacy6_tt_grid_48 cleaned: 2639
Scores in literacy6_tt_grid_48 converted to integer format
Unique values in literacy6_tt_grid_48 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_49 ...
No. of NaN values in literacy6_tt_grid_49 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_49 cleaned: 0
No. of '.' values in literacy6_tt_grid_49 cleaned: 2640
Scores in literacy6_tt_grid_49 converted to integer format
Unique values in literacy6_tt_grid_49 = [999   1]

**************************************************

Cleaning scores in column: literacy6_tt_grid_50 ...
No. of NaN values in literacy6_tt_grid_50 cleaned: 0
No. of SKIPPED values in literacy6_tt_grid_50 cleaned: 0
No. of '.' values in literacy6_tt_grid_50 cleaned: 2640
Scores in literacy6_tt_grid_50 converted to integer format
Unique values in literacy6_tt_grid_50 = [999   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_1 ...
No. of NaN values in literacy7_tt_grid_1 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_1 cleaned: 0
No. of '.' values in literacy7_tt_grid_1 cleaned: 0
Scores in literacy7_tt_grid_1 converted to integer format
Unique values in literacy7_tt_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_2 ...
No. of NaN values in literacy7_tt_grid_2 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_2 cleaned: 0
No. of '.' values in literacy7_tt_grid_2 cleaned: 0
Scores in literacy7_tt_grid_2 converted to integer format
Unique values in literacy7_tt_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_3 ...
No. of NaN values in literacy7_tt_grid_3 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_3 cleaned: 0
No. of '.' values in literacy7_tt_grid_3 cleaned: 0
Scores in literacy7_tt_grid_3 converted to integer format
Unique values in literacy7_tt_grid_3 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_4 ...
No. of NaN values in literacy7_tt_grid_4 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_4 cleaned: 0
No. of '.' values in literacy7_tt_grid_4 cleaned: 0
Scores in literacy7_tt_grid_4 converted to integer format
Unique values in literacy7_tt_grid_4 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_5 ...
No. of NaN values in literacy7_tt_grid_5 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_5 cleaned: 0
No. of '.' values in literacy7_tt_grid_5 cleaned: 1905
Scores in literacy7_tt_grid_5 converted to integer format
Unique values in literacy7_tt_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_6 ...
No. of NaN values in literacy7_tt_grid_6 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_6 cleaned: 0
No. of '.' values in literacy7_tt_grid_6 cleaned: 1989
Scores in literacy7_tt_grid_6 converted to integer format
Unique values in literacy7_tt_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_7 ...
No. of NaN values in literacy7_tt_grid_7 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_7 cleaned: 0
No. of '.' values in literacy7_tt_grid_7 cleaned: 2006
Scores in literacy7_tt_grid_7 converted to integer format
Unique values in literacy7_tt_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_8 ...
No. of NaN values in literacy7_tt_grid_8 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_8 cleaned: 0
No. of '.' values in literacy7_tt_grid_8 cleaned: 2018
Scores in literacy7_tt_grid_8 converted to integer format
Unique values in literacy7_tt_grid_8 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_9 ...
No. of NaN values in literacy7_tt_grid_9 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_9 cleaned: 0

No. of '.' values in literacy7_tt_grid_9 cleaned: 2095
Scores in literacy7_tt_grid_9 converted to integer format
Unique values in literacy7_tt_grid_9 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_10 ...
No. of NaN values in literacy7_tt_grid_10 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_10 cleaned: 0
No. of '.' values in literacy7_tt_grid_10 cleaned: 2108
Scores in literacy7_tt_grid_10 converted to integer format
Unique values in literacy7_tt_grid_10 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_11 ...
No. of NaN values in literacy7_tt_grid_11 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_11 cleaned: 0
No. of '.' values in literacy7_tt_grid_11 cleaned: 2122
Scores in literacy7_tt_grid_11 converted to integer format
Unique values in literacy7_tt_grid_11 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_12 ...
No. of NaN values in literacy7_tt_grid_12 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_12 cleaned: 0
No. of '.' values in literacy7_tt_grid_12 cleaned: 2137
Scores in literacy7_tt_grid_12 converted to integer format
Unique values in literacy7_tt_grid_12 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_13 ...
No. of NaN values in literacy7_tt_grid_13 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_13 cleaned: 0
No. of '.' values in literacy7_tt_grid_13 cleaned: 2397
Scores in literacy7_tt_grid_13 converted to integer format
Unique values in literacy7_tt_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_14 ...
No. of NaN values in literacy7_tt_grid_14 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_14 cleaned: 0
No. of '.' values in literacy7_tt_grid_14 cleaned: 2443
Scores in literacy7_tt_grid_14 converted to integer format
Unique values in literacy7_tt_grid_14 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_15 ...
No. of NaN values in literacy7_tt_grid_15 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_15 cleaned: 0
No. of '.' values in literacy7_tt_grid_15 cleaned: 2456
Scores in literacy7_tt_grid_15 converted to integer format
Unique values in literacy7_tt_grid_15 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_16 ...
No. of NaN values in literacy7_tt_grid_16 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_16 cleaned: 0
No. of '.' values in literacy7_tt_grid_16 cleaned: 2465
Scores in literacy7_tt_grid_16 converted to integer format
Unique values in literacy7_tt_grid_16 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_17 ...
No. of NaN values in literacy7_tt_grid_17 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_17 cleaned: 0
No. of '.' values in literacy7_tt_grid_17 cleaned: 2485
Scores in literacy7_tt_grid_17 converted to integer format
Unique values in literacy7_tt_grid_17 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_18 ...
No. of NaN values in literacy7_tt_grid_18 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_18 cleaned: 0
No. of '.' values in literacy7_tt_grid_18 cleaned: 2495
Scores in literacy7_tt_grid_18 converted to integer format
Unique values in literacy7_tt_grid_18 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_19 ...
No. of NaN values in literacy7_tt_grid_19 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_19 cleaned: 0
No. of '.' values in literacy7_tt_grid_19 cleaned: 2501
Scores in literacy7_tt_grid_19 converted to integer format
Unique values in literacy7_tt_grid_19 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_20 ...
No. of NaN values in literacy7_tt_grid_20 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_20 cleaned: 0
No. of '.' values in literacy7_tt_grid_20 cleaned: 2516
Scores in literacy7_tt_grid_20 converted to integer format
Unique values in literacy7_tt_grid_20 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_21 ...
No. of NaN values in literacy7_tt_grid_21 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_21 cleaned: 0
No. of '.' values in literacy7_tt_grid_21 cleaned: 2525
Scores in literacy7_tt_grid_21 converted to integer format
Unique values in literacy7_tt_grid_21 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_22 ...
No. of NaN values in literacy7_tt_grid_22 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_22 cleaned: 0
No. of '.' values in literacy7_tt_grid_22 cleaned: 2531
Scores in literacy7_tt_grid_22 converted to integer format
Unique values in literacy7_tt_grid_22 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_23 ...
No. of NaN values in literacy7_tt_grid_23 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_23 cleaned: 0
No. of '.' values in literacy7_tt_grid_23 cleaned: 2535
Scores in literacy7_tt_grid_23 converted to integer format
Unique values in literacy7_tt_grid_23 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_24 ...
No. of NaN values in literacy7_tt_grid_24 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_24 cleaned: 0
No. of '.' values in literacy7_tt_grid_24 cleaned: 2539
Scores in literacy7_tt_grid_24 converted to integer format
Unique values in literacy7_tt_grid_24 = [999   0   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_25 ...
No. of NaN values in literacy7_tt_grid_25 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_25 cleaned: 0
No. of '.' values in literacy7_tt_grid_25 cleaned: 2546
Scores in literacy7_tt_grid_25 converted to integer format
Unique values in literacy7_tt_grid_25 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_26 ...
No. of NaN values in literacy7_tt_grid_26 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_26 cleaned: 0
No. of '.' values in literacy7_tt_grid_26 cleaned: 2552
Scores in literacy7_tt_grid_26 converted to integer format
Unique values in literacy7_tt_grid_26 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_27 ...
No. of NaN values in literacy7_tt_grid_27 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_27 cleaned: 0
No. of '.' values in literacy7_tt_grid_27 cleaned: 2562
Scores in literacy7_tt_grid_27 converted to integer format
Unique values in literacy7_tt_grid_27 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_28 ...
No. of NaN values in literacy7_tt_grid_28 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_28 cleaned: 0
No. of '.' values in literacy7_tt_grid_28 cleaned: 2568
Scores in literacy7_tt_grid_28 converted to integer format
Unique values in literacy7_tt_grid_28 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_29 ...
No. of NaN values in literacy7_tt_grid_29 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_29 cleaned: 0
No. of '.' values in literacy7_tt_grid_29 cleaned: 2573
Scores in literacy7_tt_grid_29 converted to integer format
Unique values in literacy7_tt_grid_29 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_30 ...
No. of NaN values in literacy7_tt_grid_30 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_30 cleaned: 0
No. of '.' values in literacy7_tt_grid_30 cleaned: 2574
Scores in literacy7_tt_grid_30 converted to integer format
Unique values in literacy7_tt_grid_30 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_31 ...
No. of NaN values in literacy7_tt_grid_31 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_31 cleaned: 0
No. of '.' values in literacy7_tt_grid_31 cleaned: 2575
Scores in literacy7_tt_grid_31 converted to integer format
Unique values in literacy7_tt_grid_31 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_32 ...
No. of NaN values in literacy7_tt_grid_32 cleaned: 0

No. of SKIPPED values in literacy7_tt_grid_32 cleaned: 0
No. of '.' values in literacy7_tt_grid_32 cleaned: 2575
Scores in literacy7_tt_grid_32 converted to integer format
Unique values in literacy7_tt_grid_32 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_33 ...
No. of NaN values in literacy7_tt_grid_33 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_33 cleaned: 0
No. of '.' values in literacy7_tt_grid_33 cleaned: 2581
Scores in literacy7_tt_grid_33 converted to integer format
Unique values in literacy7_tt_grid_33 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_34 ...
No. of NaN values in literacy7_tt_grid_34 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_34 cleaned: 0
No. of '.' values in literacy7_tt_grid_34 cleaned: 2585
Scores in literacy7_tt_grid_34 converted to integer format
Unique values in literacy7_tt_grid_34 = [999   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_35 ...
No. of NaN values in literacy7_tt_grid_35 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_35 cleaned: 0
No. of '.' values in literacy7_tt_grid_35 cleaned: 2588
Scores in literacy7_tt_grid_35 converted to integer format
Unique values in literacy7_tt_grid_35 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_36 ...
No. of NaN values in literacy7_tt_grid_36 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_36 cleaned: 0
No. of '.' values in literacy7_tt_grid_36 cleaned: 2591
Scores in literacy7_tt_grid_36 converted to integer format
Unique values in literacy7_tt_grid_36 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_37 ...
No. of NaN values in literacy7_tt_grid_37 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_37 cleaned: 0
No. of '.' values in literacy7_tt_grid_37 cleaned: 2593
Scores in literacy7_tt_grid_37 converted to integer format
Unique values in literacy7_tt_grid_37 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_38 ...
No. of NaN values in literacy7_tt_grid_38 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_38 cleaned: 0
No. of '.' values in literacy7_tt_grid_38 cleaned: 2595
Scores in literacy7_tt_grid_38 converted to integer format
Unique values in literacy7_tt_grid_38 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_39 ...
No. of NaN values in literacy7_tt_grid_39 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_39 cleaned: 0
No. of '.' values in literacy7_tt_grid_39 cleaned: 2597
Scores in literacy7_tt_grid_39 converted to integer format
Unique values in literacy7_tt_grid_39 = [999   1]

**************************************************

Cleaning scores in column: literacy7_tt_grid_40 ...
No. of NaN values in literacy7_tt_grid_40 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_40 cleaned: 0
No. of '.' values in literacy7_tt_grid_40 cleaned: 2597
Scores in literacy7_tt_grid_40 converted to integer format
Unique values in literacy7_tt_grid_40 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_41 ...
No. of NaN values in literacy7_tt_grid_41 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_41 cleaned: 0
No. of '.' values in literacy7_tt_grid_41 cleaned: 2599
Scores in literacy7_tt_grid_41 converted to integer format
Unique values in literacy7_tt_grid_41 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_42 ...
No. of NaN values in literacy7_tt_grid_42 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_42 cleaned: 0
No. of '.' values in literacy7_tt_grid_42 cleaned: 2601
Scores in literacy7_tt_grid_42 converted to integer format
Unique values in literacy7_tt_grid_42 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_grid_43 ...
No. of NaN values in literacy7_tt_grid_43 cleaned: 0
No. of SKIPPED values in literacy7_tt_grid_43 cleaned: 0
No. of '.' values in literacy7_tt_grid_43 cleaned: 2606
Scores in literacy7_tt_grid_43 converted to integer format
Unique values in literacy7_tt_grid_43 = [999   1   0]

**************************************************

Cleaning scores in column: literacy7_tt_q1 ...
No. of NaN values in literacy7_tt_q1 cleaned: 0
No. of SKIPPED values in literacy7_tt_q1 cleaned: 0
No. of '.' values in literacy7_tt_q1 cleaned: 0
Scores in literacy7_tt_q1 converted to integer format
Unique values in literacy7_tt_q1 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_q2 ...
No. of NaN values in literacy7_tt_q2 cleaned: 0
No. of SKIPPED values in literacy7_tt_q2 cleaned: 0
No. of '.' values in literacy7_tt_q2 cleaned: 0
Scores in literacy7_tt_q2 converted to integer format
Unique values in literacy7_tt_q2 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_q3 ...
No. of NaN values in literacy7_tt_q3 cleaned: 0
No. of SKIPPED values in literacy7_tt_q3 cleaned: 0
No. of '.' values in literacy7_tt_q3 cleaned: 0
Scores in literacy7_tt_q3 converted to integer format
Unique values in literacy7_tt_q3 = [0 1]

**************************************************

Cleaning scores in column: literacy7_tt_q4 ...
No. of NaN values in literacy7_tt_q4 cleaned: 0
No. of SKIPPED values in literacy7_tt_q4 cleaned: 0
No. of '.' values in literacy7_tt_q4 cleaned: 0
Scores in literacy7_tt_q4 converted to integer format
Unique values in literacy7_tt_q4 = [0 1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_1 ...
No. of NaN values in literacy8_ut_grid_1 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_1 cleaned: 0
No. of '.' values in literacy8_ut_grid_1 cleaned: 0
Scores in literacy8_ut_grid_1 converted to integer format
Unique values in literacy8_ut_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_2 ...
No. of NaN values in literacy8_ut_grid_2 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_2 cleaned: 0
No. of '.' values in literacy8_ut_grid_2 cleaned: 0
Scores in literacy8_ut_grid_2 converted to integer format
Unique values in literacy8_ut_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_3 ...
No. of NaN values in literacy8_ut_grid_3 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_3 cleaned: 0
No. of '.' values in literacy8_ut_grid_3 cleaned: 3
Scores in literacy8_ut_grid_3 converted to integer format
Unique values in literacy8_ut_grid_3 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy8_ut_grid_4 ...
No. of NaN values in literacy8_ut_grid_4 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_4 cleaned: 0
No. of '.' values in literacy8_ut_grid_4 cleaned: 4
Scores in literacy8_ut_grid_4 converted to integer format
Unique values in literacy8_ut_grid_4 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy8_ut_grid_5 ...
No. of NaN values in literacy8_ut_grid_5 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_5 cleaned: 0
No. of '.' values in literacy8_ut_grid_5 cleaned: 1994
Scores in literacy8_ut_grid_5 converted to integer format
Unique values in literacy8_ut_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_6 ...
No. of NaN values in literacy8_ut_grid_6 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_6 cleaned: 0
No. of '.' values in literacy8_ut_grid_6 cleaned: 1995
Scores in literacy8_ut_grid_6 converted to integer format
Unique values in literacy8_ut_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_7 ...
No. of NaN values in literacy8_ut_grid_7 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_7 cleaned: 0
No. of '.' values in literacy8_ut_grid_7 cleaned: 1995

Scores in literacy8_ut_grid_7 converted to integer format
Unique values in literacy8_ut_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_8 ...
No. of NaN values in literacy8_ut_grid_8 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_8 cleaned: 0
No. of '.' values in literacy8_ut_grid_8 cleaned: 1995
Scores in literacy8_ut_grid_8 converted to integer format
Unique values in literacy8_ut_grid_8 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_9 ...
No. of NaN values in literacy8_ut_grid_9 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_9 cleaned: 0
No. of '.' values in literacy8_ut_grid_9 cleaned: 1995
Scores in literacy8_ut_grid_9 converted to integer format
Unique values in literacy8_ut_grid_9 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_10 ...
No. of NaN values in literacy8_ut_grid_10 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_10 cleaned: 0
No. of '.' values in literacy8_ut_grid_10 cleaned: 1995
Scores in literacy8_ut_grid_10 converted to integer format
Unique values in literacy8_ut_grid_10 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_11 ...
No. of NaN values in literacy8_ut_grid_11 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_11 cleaned: 0
No. of '.' values in literacy8_ut_grid_11 cleaned: 1995
Scores in literacy8_ut_grid_11 converted to integer format
Unique values in literacy8_ut_grid_11 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_12 ...
No. of NaN values in literacy8_ut_grid_12 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_12 cleaned: 0
No. of '.' values in literacy8_ut_grid_12 cleaned: 1995
Scores in literacy8_ut_grid_12 converted to integer format
Unique values in literacy8_ut_grid_12 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_13 ...
No. of NaN values in literacy8_ut_grid_13 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_13 cleaned: 0
No. of '.' values in literacy8_ut_grid_13 cleaned: 1995
Scores in literacy8_ut_grid_13 converted to integer format
Unique values in literacy8_ut_grid_13 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_14 ...
No. of NaN values in literacy8_ut_grid_14 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_14 cleaned: 0
No. of '.' values in literacy8_ut_grid_14 cleaned: 1995
Scores in literacy8_ut_grid_14 converted to integer format
Unique values in literacy8_ut_grid_14 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_15 ...
No. of NaN values in literacy8_ut_grid_15 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_15 cleaned: 0
No. of '.' values in literacy8_ut_grid_15 cleaned: 1996
Scores in literacy8_ut_grid_15 converted to integer format
Unique values in literacy8_ut_grid_15 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_16 ...
No. of NaN values in literacy8_ut_grid_16 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_16 cleaned: 0
No. of '.' values in literacy8_ut_grid_16 cleaned: 1996
Scores in literacy8_ut_grid_16 converted to integer format
Unique values in literacy8_ut_grid_16 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_17 ...
No. of NaN values in literacy8_ut_grid_17 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_17 cleaned: 0
No. of '.' values in literacy8_ut_grid_17 cleaned: 1996
Scores in literacy8_ut_grid_17 converted to integer format
Unique values in literacy8_ut_grid_17 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_18 ...
No. of NaN values in literacy8_ut_grid_18 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_18 cleaned: 0
No. of '.' values in literacy8_ut_grid_18 cleaned: 1996
Scores in literacy8_ut_grid_18 converted to integer format
Unique values in literacy8_ut_grid_18 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_19 ...
No. of NaN values in literacy8_ut_grid_19 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_19 cleaned: 0
No. of '.' values in literacy8_ut_grid_19 cleaned: 1996
Scores in literacy8_ut_grid_19 converted to integer format
Unique values in literacy8_ut_grid_19 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_20 ...
No. of NaN values in literacy8_ut_grid_20 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_20 cleaned: 0
No. of '.' values in literacy8_ut_grid_20 cleaned: 1996
Scores in literacy8_ut_grid_20 converted to integer format
Unique values in literacy8_ut_grid_20 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_21 ...
No. of NaN values in literacy8_ut_grid_21 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_21 cleaned: 0
No. of '.' values in literacy8_ut_grid_21 cleaned: 1996
Scores in literacy8_ut_grid_21 converted to integer format
Unique values in literacy8_ut_grid_21 = [999   0   1]

**************************************************

Cleaning scores in column: literacy8_ut_grid_22 ...
No. of NaN values in literacy8_ut_grid_22 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_22 cleaned: 0
No. of '.' values in literacy8_ut_grid_22 cleaned: 1996
Scores in literacy8_ut_grid_22 converted to integer format
Unique values in literacy8_ut_grid_22 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_23 ...
No. of NaN values in literacy8_ut_grid_23 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_23 cleaned: 0
No. of '.' values in literacy8_ut_grid_23 cleaned: 1996
Scores in literacy8_ut_grid_23 converted to integer format
Unique values in literacy8_ut_grid_23 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_24 ...
No. of NaN values in literacy8_ut_grid_24 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_24 cleaned: 0
No. of '.' values in literacy8_ut_grid_24 cleaned: 1996
Scores in literacy8_ut_grid_24 converted to integer format
Unique values in literacy8_ut_grid_24 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_25 ...
No. of NaN values in literacy8_ut_grid_25 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_25 cleaned: 0
No. of '.' values in literacy8_ut_grid_25 cleaned: 1996
Scores in literacy8_ut_grid_25 converted to integer format
Unique values in literacy8_ut_grid_25 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_26 ...
No. of NaN values in literacy8_ut_grid_26 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_26 cleaned: 0
No. of '.' values in literacy8_ut_grid_26 cleaned: 1996
Scores in literacy8_ut_grid_26 converted to integer format
Unique values in literacy8_ut_grid_26 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_27 ...
No. of NaN values in literacy8_ut_grid_27 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_27 cleaned: 0
No. of '.' values in literacy8_ut_grid_27 cleaned: 1996
Scores in literacy8_ut_grid_27 converted to integer format
Unique values in literacy8_ut_grid_27 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_28 ...
No. of NaN values in literacy8_ut_grid_28 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_28 cleaned: 0
No. of '.' values in literacy8_ut_grid_28 cleaned: 1996
Scores in literacy8_ut_grid_28 converted to integer format
Unique values in literacy8_ut_grid_28 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_29 ...
No. of NaN values in literacy8_ut_grid_29 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_29 cleaned: 0
No. of '.' values in literacy8_ut_grid_29 cleaned: 1996
Scores in literacy8_ut_grid_29 converted to integer format
Unique values in literacy8_ut_grid_29 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_30 ...
No. of NaN values in literacy8_ut_grid_30 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_30 cleaned: 0
No. of '.' values in literacy8_ut_grid_30 cleaned: 1996
Scores in literacy8_ut_grid_30 converted to integer format
Unique values in literacy8_ut_grid_30 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_31 ...
No. of NaN values in literacy8_ut_grid_31 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_31 cleaned: 0
No. of '.' values in literacy8_ut_grid_31 cleaned: 1996
Scores in literacy8_ut_grid_31 converted to integer format
Unique values in literacy8_ut_grid_31 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_32 ...
No. of NaN values in literacy8_ut_grid_32 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_32 cleaned: 0
No. of '.' values in literacy8_ut_grid_32 cleaned: 1996
Scores in literacy8_ut_grid_32 converted to integer format
Unique values in literacy8_ut_grid_32 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_33 ...
No. of NaN values in literacy8_ut_grid_33 cleaned: 0

No. of SKIPPED values in literacy8_ut_grid_33 cleaned: 0
No. of '.' values in literacy8_ut_grid_33 cleaned: 1996
Scores in literacy8_ut_grid_33 converted to integer format
Unique values in literacy8_ut_grid_33 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_34 ...
No. of NaN values in literacy8_ut_grid_34 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_34 cleaned: 0
No. of '.' values in literacy8_ut_grid_34 cleaned: 1996
Scores in literacy8_ut_grid_34 converted to integer format
Unique values in literacy8_ut_grid_34 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_35 ...
No. of NaN values in literacy8_ut_grid_35 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_35 cleaned: 0
No. of '.' values in literacy8_ut_grid_35 cleaned: 1996
Scores in literacy8_ut_grid_35 converted to integer format
Unique values in literacy8_ut_grid_35 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_36 ...
No. of NaN values in literacy8_ut_grid_36 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_36 cleaned: 0
No. of '.' values in literacy8_ut_grid_36 cleaned: 1996
Scores in literacy8_ut_grid_36 converted to integer format
Unique values in literacy8_ut_grid_36 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_grid_37 ...
No. of NaN values in literacy8_ut_grid_37 cleaned: 0
No. of SKIPPED values in literacy8_ut_grid_37 cleaned: 0
No. of '.' values in literacy8_ut_grid_37 cleaned: 1996
Scores in literacy8_ut_grid_37 converted to integer format
Unique values in literacy8_ut_grid_37 = [999   1   0]

**************************************************

Cleaning scores in column: literacy8_ut_q1 ...
No. of NaN values in literacy8_ut_q1 cleaned: 0
No. of SKIPPED values in literacy8_ut_q1 cleaned: 2519
No. of '.' values in literacy8_ut_q1 cleaned: 0
Scores in literacy8_ut_q1 converted to integer format
Unique values in literacy8_ut_q1 = [999   1  88   0]

**************************************************

Cleaning scores in column: literacy8_ut_q2 ...
No. of NaN values in literacy8_ut_q2 cleaned: 0
No. of SKIPPED values in literacy8_ut_q2 cleaned: 2519
No. of '.' values in literacy8_ut_q2 cleaned: 0
Scores in literacy8_ut_q2 converted to integer format
Unique values in literacy8_ut_q2 = [999   0   1  88]

**************************************************

Cleaning scores in column: literacy8_ut_q3 ...
No. of NaN values in literacy8_ut_q3 cleaned: 0
No. of SKIPPED values in literacy8_ut_q3 cleaned: 2519
No. of '.' values in literacy8_ut_q3 cleaned: 0
Scores in literacy8_ut_q3 converted to integer format
Unique values in literacy8_ut_q3 = [999   1  88   0]

**************************************************

Cleaning scores in column: literacy8_ut_q4 ...
No. of NaN values in literacy8_ut_q4 cleaned: 0
No. of SKIPPED values in literacy8_ut_q4 cleaned: 2519
No. of '.' values in literacy8_ut_q4 cleaned: 0
Scores in literacy8_ut_q4 converted to integer format
Unique values in literacy8_ut_q4 = [999   0   1  88]

**************************************************

Cleaning scores in column: literacy8_ut_q5 ...
No. of NaN values in literacy8_ut_q5 cleaned: 5
No. of SKIPPED values in literacy8_ut_q5 cleaned: 2519
No. of '.' values in literacy8_ut_q5 cleaned: 0
Scores in literacy8_ut_q5 converted to integer format
Unique values in literacy8_ut_q5 = [999   1  88   0]

**************************************************

Cleaning scores in column: literacy8_ut_q6 ...
No. of NaN values in literacy8_ut_q6 cleaned: 6
No. of SKIPPED values in literacy8_ut_q6 cleaned: 2519
No. of '.' values in literacy8_ut_q6 cleaned: 0
Scores in literacy8_ut_q6 converted to integer format
Unique values in literacy8_ut_q6 = [999   1  88   0]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_1 ...
No. of NaN values in literacy9a_ut_grid_1 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_1 cleaned: 0
No. of '.' values in literacy9a_ut_grid_1 cleaned: 0
Scores in literacy9a_ut_grid_1 converted to integer format
Unique values in literacy9a_ut_grid_1 = [0 1]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_2 ...
No. of NaN values in literacy9a_ut_grid_2 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_2 cleaned: 0
No. of '.' values in literacy9a_ut_grid_2 cleaned: 0
Scores in literacy9a_ut_grid_2 converted to integer format
Unique values in literacy9a_ut_grid_2 = [0 1]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_3 ...
No. of NaN values in literacy9a_ut_grid_3 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_3 cleaned: 0
No. of '.' values in literacy9a_ut_grid_3 cleaned: 2
Scores in literacy9a_ut_grid_3 converted to integer format
Unique values in literacy9a_ut_grid_3 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_4 ...
No. of NaN values in literacy9a_ut_grid_4 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_4 cleaned: 0
No. of '.' values in literacy9a_ut_grid_4 cleaned: 4
Scores in literacy9a_ut_grid_4 converted to integer format
Unique values in literacy9a_ut_grid_4 = [  0   1 999]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_5 ...
No. of NaN values in literacy9a_ut_grid_5 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_5 cleaned: 0
No. of '.' values in literacy9a_ut_grid_5 cleaned: 1292
Scores in literacy9a_ut_grid_5 converted to integer format
Unique values in literacy9a_ut_grid_5 = [999   0   1]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_6 ...
No. of NaN values in literacy9a_ut_grid_6 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_6 cleaned: 0
No. of '.' values in literacy9a_ut_grid_6 cleaned: 1294
Scores in literacy9a_ut_grid_6 converted to integer format
Unique values in literacy9a_ut_grid_6 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_7 ...
No. of NaN values in literacy9a_ut_grid_7 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_7 cleaned: 0
No. of '.' values in literacy9a_ut_grid_7 cleaned: 1295
Scores in literacy9a_ut_grid_7 converted to integer format
Unique values in literacy9a_ut_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_8 ...
No. of NaN values in literacy9a_ut_grid_8 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_8 cleaned: 0
No. of '.' values in literacy9a_ut_grid_8 cleaned: 1295
Scores in literacy9a_ut_grid_8 converted to integer format
Unique values in literacy9a_ut_grid_8 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_9 ...
No. of NaN values in literacy9a_ut_grid_9 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_9 cleaned: 0
No. of '.' values in literacy9a_ut_grid_9 cleaned: 1295
Scores in literacy9a_ut_grid_9 converted to integer format
Unique values in literacy9a_ut_grid_9 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9a_ut_grid_10 ...
No. of NaN values in literacy9a_ut_grid_10 cleaned: 0
No. of SKIPPED values in literacy9a_ut_grid_10 cleaned: 0
No. of '.' values in literacy9a_ut_grid_10 cleaned: 1295
Scores in literacy9a_ut_grid_10 converted to integer format
Unique values in literacy9a_ut_grid_10 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_1 ...
No. of NaN values in literacy9b_ut_grid_1 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_1 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_1 cleaned: 0
Scores in literacy9b_ut_grid_1 converted to integer format
Unique values in literacy9b_ut_grid_1 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_2 ...
No. of NaN values in literacy9b_ut_grid_2 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_2 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_2 cleaned: 0
Scores in literacy9b_ut_grid_2 converted to integer format
Unique values in literacy9b_ut_grid_2 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_3 ...
No. of NaN values in literacy9b_ut_grid_3 cleaned: 0

No. of SKIPPED values in literacy9b_ut_grid_3 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_3 cleaned: 0
Scores in literacy9b_ut_grid_3 converted to integer format
Unique values in literacy9b_ut_grid_3 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_4 ...
No. of NaN values in literacy9b_ut_grid_4 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_4 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_4 cleaned: 3
Scores in literacy9b_ut_grid_4 converted to integer format
Unique values in literacy9b_ut_grid_4 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_5 ...
No. of NaN values in literacy9b_ut_grid_5 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_5 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_5 cleaned: 387
Scores in literacy9b_ut_grid_5 converted to integer format
Unique values in literacy9b_ut_grid_5 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_6 ...
No. of NaN values in literacy9b_ut_grid_6 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_6 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_6 cleaned: 387
Scores in literacy9b_ut_grid_6 converted to integer format
Unique values in literacy9b_ut_grid_6 = [999   0   1]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_7 ...
No. of NaN values in literacy9b_ut_grid_7 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_7 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_7 cleaned: 387
Scores in literacy9b_ut_grid_7 converted to integer format
Unique values in literacy9b_ut_grid_7 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_8 ...
No. of NaN values in literacy9b_ut_grid_8 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_8 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_8 cleaned: 388
Scores in literacy9b_ut_grid_8 converted to integer format
Unique values in literacy9b_ut_grid_8 = [999   1   0]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_9 ...
No. of NaN values in literacy9b_ut_grid_9 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_9 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_9 cleaned: 388
Scores in literacy9b_ut_grid_9 converted to integer format
Unique values in literacy9b_ut_grid_9 = [999   0   1]

**************************************************

Cleaning scores in column: literacy9b_ut_grid_10 ...
No. of NaN values in literacy9b_ut_grid_10 cleaned: 0
No. of SKIPPED values in literacy9b_ut_grid_10 cleaned: 1769
No. of '.' values in literacy9b_ut_grid_10 cleaned: 388
Scores in literacy9b_ut_grid_10 converted to integer format
Unique values in literacy9b_ut_grid_10 = [999   0   1]

**************************************************

In [10]:
df_scored= data_scoring.score_data(df_cleaned, untimed_tasks=["literacy4_ut"], timed_tasks=["literacy4_tt"])

In [ ]:
df_scored.to_csv('scored_data.csv')